div.container-my-account-background {
  h1.h1-account {
    text-transform: capitalize;
  }

  div.user-avatar-container {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-image: url("../../assets/placeholders/avatar.png");
    background-size: cover;
    border: 1px solid $colour-grey-dark;
  }
}
