div.card {
  > div.card-header {
    background-color: $colour-secondary;
    color: $colour-white;
    border-bottom: none;
  }

  img.card-img-center {
    object-fit: cover;
    object-position: center;
    border-top: 1px solid rgba(0, 0, 0, 0.175);
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
  }

  div.card-body {
    > h5.card-title {
      color: $colour-primary;
      font-size: 1.15rem;
    }
  }
}
