div.jumbotron {
  background-image: url(../../assets/banner.jpg);
  background-size: cover;
  background-position: 0 35%;
  height: 420px;
  justify-content: center;
  position: relative;

  > div.jumbotron-text {
    position: absolute;
    bottom: 2rem;

    > h1.jumbotron-h1,
    h3.jumbotron-h3 {
      color: $colour-white;
    }

    > h1.jumbotron-h1 {
      font-size: 2rem;
    }
    > h3.jumbotron-h3 {
      font-size: 1.6rem;
      font-weight: 300;
    }

    a.btn {
      font-size: 1rem;
      font-weight: 500;
      color: $colour-white;
      text-transform: uppercase;
      border-radius: $border-radius-custom-btn;
    }
  }
}
