div.container-latest-auctions-background,
div.container-how-it-works-background,
div.container-all-auctions-background,
div.register-form-container-background,
div.registration-success-container-background {
  background-color: $colour-white;
}

div.container-carousel-background,
div.container-brands-background {
  background-color: $colour-grey-light;
}

@media (min-width: 992px) {
  div.container-brands {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.brands-1,
  div.brands-2 {
    width: 50%;
  }
}
