body {
  font-family: "Nunito", sans-serif;
  color: $colour-text !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  text-transform: uppercase;
}

h2 {
  font-size: 1.25rem !important;
}

h2.section-heading {
  text-decoration: underline solid 3px rgba(246, 48, 98, 0.8);
  margin-bottom: 2rem;
}
