body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

$headings-margin-bottom: 1em;

h1 {
  color: currentColor;
}

h2 {
  color: $tertiary;
}
