a.customised-btn {
  font-size: 1rem;
  font-weight: 500;
  color: $colour-white;
  text-transform: uppercase;
  border-radius: $border-radius-custom-btn;
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
}

div.spinner-border {
  width: 7rem;
  height: 7rem;
  color: $colour-primary;
}
