// custom variables

// colours
$colour-primary: #f63062;
$colour-secondary: #16af7f;
$colour-text: #2a292e;
$colour-white: #f5f5f5;
$colour-grey-light: #eaecf3;
$colour-grey-dark: #4e4f53;

// border-radius
$border-radius-custom: 15px;
