@import "_variables.scss";
@import "_navbar.scss";

// custom variables
$primary: $colour-primary;
$secondary: $colour-secondary;
$light: $colour-white;
$dark: $colour-text;

// import bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";
